- model_class = TeamMember
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:first_name) + ':'
  %br
  = @team_member.first_name
%p
  %strong= model_class.human_attribute_name(:last_name) + ':'
  %br
  = @team_member.last_name


= link_to t('.back', :default => t("helpers.links.back")), team_members_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_team_member_path(@team_member), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), team_member_path(@team_member), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
