%p#notice= notice

%p
  %b First name:
  = @team_member.first_name
%p
  %b Last name:
  = @team_member.last_name

= link_to 'Edit', edit_team_member_path(@team_member)
\|
= link_to 'Back', team_members_path
